; 数据库配置示例文件
; 使用时，重命名 dbinfo.ini.sample 为 dbinfo.ini 
; 使用configparser.ConfigParser 解析配置文件 
; 分号和井号开头的行表示注释
;

[sale]
USERNAME=scott
PASSWORD=tiger
ESTNS=127.0.0.1:1521/orcl
[dss]
USERNAME=dss
PASSWORD=dss
ESTNS=127.0.0.1:1521/dss
